*reset*/
body{
     margin:0;
}
/geral/
html{
     font-family: 'open sans', sans-serif;
    color:#000;
}
h1,h2,h3,h4,h5,p,span {
     margin:0;
     color:#000;
}
•container {
     max-width: 1920 px;
     width:100%;
}
header{
     position: relative;
     top: 0;
      height:auto;
      width:100%
}
nav{
    position: fixed;
    top: 0;
     height: 100px;
     width: 100%;
     z-index: 1;
     background-color:#FFF;
     border-bottom:1px solid#CCC;
}
    #main-banner{
    background-color:red;
    background:url("../img/banner6.jpg")no-repeat;
    background-size:cover;
    background-position:0 55%;
    position:relative;
    margin-top:100px;
}
    #search-form{
    position: relative;
    width:80%;
    margin-left:auto;
    margin-right:auto;
    padding-top:15em;
    padding-bottom:15em;
    Text-align:center;
}
#search-form h1{
font-size: 40px;
}
#search-form p{
margin-top:30px;
margin-bottom:60px;
font-size:18px;
font-weight:300px;
}
/formulário/

#search-form input,
    #search-form select{
    background-color:#fff;
    border-radius:5px;
    border-color:transparent;
    padding:10px 20px;
    font-size:18px;
    Margin:0 10px;
}
    #search-form input type=submit{
    background-color:#3381f3;
    text-transform:UPPERCASE;
    color:#fff;
    cursor:pointer;
    transition:0.5s;
}


